.page-5-h2{
    font-weight: 300;
    font-size: 40px;
    width: 500px;
    text-align: center;
    margin-bottom: 65px;
    margin-top: -50px;
}

.flex-5{
    justify-content: center;
    margin-top: 100px;
}

.card-container-2{
    width: 592px;
    height: 233px;
    border: 1px solid #DCE1E9;
    border-radius: 10px;
    margin-right: 36px;
}

.card-container-2 div h3{
   color: #219963;
   font-weight: 300;
   font-size: 30px;
}

.card-container-2 div:first-of-type{
    width: 80%;
 }

.card-container-2 p{
    top: 105px;
    left: 50px;
    width: 100%;
 }

 .card-container-2 h3{
    left: 50px;
    width: 100%;
 }

 .card-container-2 div:last-of-type{
    width: 50%;
    padding-left: 30px;
 }

 .page-5-container-final{
    justify-content: center;
 }

 .page-5-p{
    margin-top: 50px;
    margin-bottom: 25px;
 }